.aboutPage {
    padding: 90px 60px;
}
.aboutPage .hd .title-bg {
    left: 29%;
}
body.dark .aboutPage h4{
    color: white;
}
body.light .aboutPage h4{
    color: #000;
}
.aboutPage .info .list-title {
    opacity: 0.6;
}

body.dark .aboutPage .info h4 {
    color: white;
}
body.light .aboutPage .info h4 {
    color: #000;
}

.aboutPage .boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

body.dark .aboutPage .boxes .box {
    border: 1px solid #ffffff66;
}
body.light .aboutPage .boxes .box {
    border: 1px solid #000000a3;
}
.aboutPage .boxes .box {
    width: 40%;
    padding: 25px;
    border-radius: 10px;
    height: 200px;
    
} 
body.dark .count {
    color: #fa5b0f;
}
body.light .count{
    
    color: #FFCC9F;
}
.aboutPage .boxes .box .count{
    font-size: 55px;
}
.aboutPage .boxes .box .count span{
    position: relative;
    top: 10px;
    font-size: 30px;
}
body.dark .aboutPage .languageIcon{
    font-size: 80px;
    color: white;
}
body.light .aboutPage .languageIcon{
    font-size: 80px;
    color: #000;
}
.aboutPage .boxes .box h4{
    font-size: 25px;
}
.aboutPage .boxes .box .line{
    content: "";
    width:15%;
    background: white;
    height: 2px;
    position: relative;
    top: 10px;
}
.skillSection .spinner{
    width:350px;
}
.divider{
    height: 80px;
}

@media (max-width: 768px) {
    .aboutPage .boxes  {
       margin-top: 60px;
       width: 100%;
       justify-content: center;
    }
    .aboutPage .boxes .box {
        width: 90%;
    }
    .aboutPage {
        padding: 90px 10px;
    }
    .skillSection .col-md-3{
       margin-bottom: 20px;
    }
    .experienceSection .row{
        margin: 0px !important;
    }
    .aboutPage .hd .title-bg {
        left: 0;
    }
}