* {
  margin: 0%;
  padding: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: #111111;
  font-family: 'Raleway', 'san-serif';
}

.container-fluid {
  padding: 0px 50px;
}

.homePage {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.homePage::before {
  content: "";
  width: 30%;
  top: -10%;
  left: -50px;
  height: 200%;
  z-index: -10;
  position: absolute;
  background-color: #fa5b0f;
  transform: rotate(-19deg)
}

.homePage .wrapper {
  height: 100vh;
  padding: 45px 0px;
}

.text-common {
  color: #fa5b0f;
}

.homePage .imageWrap {
  position: relative;
  background: #000;
  height: 500px;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  border-radius: 40px;
}

.homePage .wrapper h1 {
  font-size: 65px;
}

.homePage .wrapper p {
  font-size: 20px;
  line-height: 35px;
  font-weight: 300;
  opacity: 0.5;
}

.homePage .intro {
  padding: 45px 50px;

}

.homePage .intro .line {
  background: #fa5b0f;
  height: 7px;
  width: 100px;
  border-radius: 10px;
  position: relative;
  top: 30px;
}

.button-common {
  position: relative;
  border-radius: 80px;
  border: 1px solid #fa5b0f;
  color: #fff;
  padding: 16px 25px;
}

.button-common .icon svg {
  color: white;
  font-size: 33px;
}

.icon-btn {
  padding-right: 60px !important;
  overflow: hidden;
}

.icon-btn::after {
  position: absolute;
  height: 100%;
  right: 0%;
  background: #fa5b0f;
  content: "";
  width: 0%;
  z-index: -10;
  transition: all 0.3s ease-in-out;
}

.icon-btn:hover::after {
  width: 100%;
}

.button-common .icon {
  border-radius: 50%;
  padding: 12px;
  background: #fa5b0f;
  position: absolute;
  right: 0%;
}