* {
  margin: 0%;
  padding: 0%;
}
:root {
  --dark-background:#344649;
  --dark-color: #2B6E7C;
  --light-color: #B1D0CA;
  --dark-text: #000;
  --light-text: #fff;
}

/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */

body {
  font-family: 'Raleway', 'san-serif';
  transition: all 0.3s ease-in-out;
}

body.light .text-color {
  color: #000;
}

body.dark .text-color {
  color: white !important;
}

body.light {
  background-color: white;
  color: #111111;
}

body.dark {
  background:#000;
  color: white !important;
}

.container-fluid {
  padding: 10px 50px;
}

hr.dotted {
  border-top: 3px dotted #bbb;
  margin: 100px 30px;
}

.homePage {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

body.dark .homePage::before {
  background-color: #fa5b0f;
}

body.light .homePage::before {
  background-color: #FFCC9F;
}

.homePage::before {
  content: "";
  width: 30%;
  top: -10%;
  left: -50px;
  height: 200%;
  z-index: -10;
  position: absolute;
  transform: rotate(-19deg)
}

.homePage .wrapper {
  height: 100vh;
  padding: 45px 0px;
}

/* light orange #FFCC9F */

body.dark .text-common {
  color: #fa5b0f;
}

body.light .text-common {
  color: #FFCC9F;
}

.homePage .imageWrap {
  position: relative;
  background: #000;
  height: max-content;
  width: 90%;
  bottom: 0;
  overflow: hidden;
  border-radius: 40px;
}

.homePage .wrapper h1 {
  font-size: 65px;
}

.homePage .wrapper p {
  font-size: 20px;
  line-height: 35px;
  width: 90%;
  font-weight: 300;
  opacity: 0.5;
}

body.dark .line {
  background: #fa5b0f;
}

body.light .line {
  background: #FFCC9F;
}

.homePage .intro {
  padding: 45px 40px;

}

.homePage .intro .line {

  height: 7px;
  width: 80px;
  border-radius: 10px;
  position: relative;
  top: 30px;
}

body.dark .hd {
  color: white;
}

body.light .hd {
  color: #000;
}

.hd {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 130px;
  transition: all 0.3s ease-in-out;
}

.hd h1 {
  font-size: 65px;
  font-weight: bolder;
  z-index: 100;
}

body.dark .hd .title-bg {
  color: white;
}

body.light .hd .title-bg {
  color: #000;
}

.hd .title-bg {

  opacity: 0.2;
  z-index: -10;
  letter-spacing: 7px;
  font-size: 150px;
  position: absolute;
  left: 25%;
  top: -70px;
}

.designer {
  right: 20px;
  bottom: 10px;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .hd h1 {
    font-size: 45px;
  }

  .hd .title-bg {
    font-size: 35px;
    left: 0px;
    position: relative;
    top: 0px;
  }

  .homePage .intro {
    padding: 45px 0px;

  }

  .homePage {
    overflow: visible;
    height: min-content;
  }

  .homePage .intro h1 {
    font-size: 35px;

  }

  .typeAnimation {
    font-size: 10px;
  }

  .homePage .wrapper p {
    width: 100%;
    opacity: 0.7;
  }

  .homePage .intro .buttons {
    width: 100% !important;
  }

  .homePage .intro .line {

    width: 0px;

  }

  .container-fluid {
    padding: 90px 35px;
  }

  .homePage::before {
    height: 100%;
    transform: rotate(15deg)
  }

  .homePage .imageWrap {
    width: 100%;

  }

  .animated-text h1 {
    font-size: 35px !important;
  }

  .designer {
    position: relative !important;
    bottom: 0%;

    margin: 0px !important;
  }

  .iconBox {
    justify-content: center;
  }
}