* {
  margin: 0%;
  padding: 0%;

}

:root {
  --dark-color: #07679D;
  --dark-background: #090909;
  --dark-text: #fff;
  --light-color: #3394cc;
  --light-text: #000;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/bg-future.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.2; /* Set the opacity to 0.5 */
  z-index: -1; /* Ensure the overlay stays behind the content */
}

body {
  font-family: 'Raleway', 'san-serif';
  transition: all 0.3s ease-in-out;

}

body.light .text-color {
  color: #000;
}

body.dark .card {
  background: var(--dark-background);
}

body.dark .text-color {
  color: white !important;
}

body.light {
  background-color: white;
  color: #111111;
}

body.dark {
  background: var(--dark-background);
  color: white !important;
}

.container-fluid {
  padding: 10px 50px;
}

hr.dotted {
  border-top: 3px dotted #bbb;
  margin: 100px 30px;
}

.homePage {
  width: 100%;
  padding: 0px 35px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

body.dark .homePage::before {
  background-color: var(--dark-color);
}

body.light .homePage::before {
  background-color: var(--light-color);
}

.homePage::before {
  content: "";
  width: 30%;
  top: -10%;
  left: -50px;
  height: 200%;
  z-index: -10;
  position: absolute;
  transform: rotate(-19deg)
}

.homePage .wrapper {
  height: 100vh;
  padding: 45px 0px;
}

/* light orange var(--light-color) */

body.dark .text-common {
  color: var(--dark-color);
}

body.light .text-common {
  color: var(--light-color);
}

.homePage .imageWrap {
  position: relative;
  background: #000;
  height: max-content;
  width: 90%;
  bottom: 0;
  overflow: hidden;
  border-radius: 40px;
}

.homePage .wrapper h1 {
  font-size: 65px;
}

.homePage .wrapper p {
  font-size: 20px;
  line-height: 35px;
  width: 90%;
  font-weight: 300;
  opacity: 0.5;
}

body.dark .line {
  background: var(--dark-color);
}

body.light .line {
  background: var(--light-color);
}

.homePage .intro {
  padding: 45px 40px;

}

.homePage .intro .line {

  height: 7px;
  width: 80px;
  border-radius: 10px;
  position: relative;
  top: 30px;
}

body.dark .hd {
  color: white;
}

body.light .hd {
  color: #000;
}

.hd {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 130px;
  transition: all 0.3s ease-in-out;
}

.hd h1 {
  font-size: 65px;
  font-weight: bolder;
  z-index: 100;
}

body.dark .hd .title-bg {
  color: white;
}

body.light .hd .title-bg {
  color: #000;
}

.hd .pageTitle {
  font-size: 90px;
}

.hd .title-bg {

  opacity: 0.3;
  z-index: -10;
  letter-spacing: 7px;
  font-size: 150px;
  top: -70px;
}

.designer {
  right: 20px;
  bottom: 10px;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .hd h1 {
    font-size: 45px;
  }

  /* .hd .title-bg {
    font-size: 35px;
   
    position: relative;
    top: 0px;
  } */
  .hd .pageTitle {
    font-size: 50px;
  }

  .homePage {
    overflow: visible;
    padding: 35px 0px;
    height: min-content;
  }

  .homePage .intro h1 {
    font-size: 35px;

  }

  .typeAnimation {
    font-size: 10px;
  }

  .homePage .wrapper p {
    width: 100%;
    opacity: 0.7;
  }

  .homePage .intro .buttons {
    width: 100% !important;
  }

  .homePage .intro .line {

    width: 0px;

  }

  .container-fluid {
    padding: 90px 30px;
  }

  .homePage::before {
    height: 100%;
    transform: rotate(15deg)
  }

  .homePage .imageWrap {
    width: 100%;

  }

  .animated-text h1 {
    font-size: 35px !important;
  }

  .designer {
    position: relative !important;
    bottom: 0%;

    margin: 0px !important;
  }

  .iconBox {
    justify-content: center;

  }
}