.appnavbar {
    position: fixed;
    top: 30%;
    right: 1%;
    z-index: 1000;
}
.appnavbar ul li{
    position: relative;
    height: 75px;
}
.appnavbar svg {
    color: white;
    font-size: 30px !important;
}

.appnavbar button.icon-btn {
    width: 55px;
    height: 55px;
    min-width: 45px !important;
    padding: 0% !important;
}

.appnavbar .button-common {
    position: absolute;
    right: 0%;
    top: 0%;
    padding: 0% !important;
    margin: 5px 0px;
}

.appnavbar .button-common .iconText {
    visibility: hidden;
}
.appnavbar button.icon-btn:hover .iconText {
    visibility: inherit;
    padding-right: 15px;
}

.appnavbar button.icon-btn:hover {
    width: 200px !important;
}
.appnavbar .icon{
    padding: 10px;
}