.navbar {
    position: fixed;
    top: 30%;
    right: 1%;
}
.navbar ul li{
    position: relative;
    height: 75px;
}
.navbar svg {
    color: white;
    font-size: 30px !important;
}

.navbar button.icon-btn {
    width: 55px;
    height: 55px;
    min-width: 45px !important;
    padding: 0% !important;
}

.navbar .button-common {
    position: absolute;
    right: 0%;
    top: 0%;
    padding: 0% !important;
    margin: 5px 0px;
}

.navbar .button-common .iconText {
    visibility: hidden;
}
.navbar button.icon-btn:hover .iconText {
    visibility: inherit;
    padding-right: 15px;
}

.navbar button.icon-btn:hover {
    width: 200px !important;
}
.navbar .icon{
    padding: 10px;
}