
.button-common {
    position: relative;
    border-radius: 80px;
    border: 1px solid #fa5b0f;
    color: #fff;
    padding: 16px 25px;
  }
  
  .button-common .iconText {
    padding-right: 5px;
  }
  .button-common .icon svg {
    color: white;
    font-size: 33px;
  }
  
  .icon-btn {
    padding-right: 60px !important;
    overflow: hidden;
  }
  
  .icon-btn::after {
    position: absolute;
    height: 100%;
    right: 0%;
    background: #fa5b0f;
    content: "";
    width: 0%;
    z-index: -10;
    transition: all 0.3s ease-in-out;
  }
  
  .icon-btn:hover::after {
    width: 100%;
  }
  
  .button-common .icon {
    border-radius: 50%;
    padding: 12px;
    background: #fa5b0f;
    position: absolute;
    right: 0%;
  }